body {
    margin: 1em 5em;
    background: #1b1b1b;
    font-family: "Urbanist", sans-serif;
    color: #FDFDFD;
}

.site-footer {
    display: flex;
    flex: 5;
    justify-content: flex-start;
    list-style: none;
    position: fixed;
    left: 2%;
    bottom: 0;
    width: 100%;
    z-index: -2;
}

.site-footer a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: #E95858;
}

.bookFinder {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.book-finder_hero {
    position: fixed;
    transform: rotate(-20deg);
    top: auto;
    right: 0;
    bottom: 50px;
    z-index: -1;
}

.book-finder_hero img {
    width: 125%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

h1 {
    font-size: 7.5em;
    line-height: 75%;
}

h3 {
    margin-top: -3em;
}

.book-finder_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.book-form {
    max-width: 45%;
    /* align-content: center; */
}

p {
    margin-top: 0;
    margin-bottom: 2.5em;
    font-size: 20px;
}

.book-form,
.book-finder_results {
    border-radius: 15px;
    background: #5e5b5e50;
    padding: 2.5em;
    margin-top: 2em;
    text-align: center;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
        rgba(17, 17, 26, 0.1) 0px 16px 56px,
        rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.book-form_input {
    padding: 16px;
    border: 0 solid rgba(39, 33, 66, 0.5);
    height: 60px;
    width: 100%;
    font-size: 16px;
    border-radius: 10px;
    line-height: 20px;
    color: #272044;
    margin-bottom: 1em;
}

#book-form_input::placeholder {
    white-space: pre-line;
    position: absolute;
    top: 50%;
}

.formContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* cleaner spacing */
    gap: 1rem;
    margin: 20px 0;
    align-items: stretch;
    text-align: left;
}

.book-form_group {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 200px;
}

select {
    width: 100%;
    /* fill the formGroup */
    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    padding: 1em;
    min-height: 3rem;
    margin: 0.5em 0;
}

.book-form_submit {
    align-items: center;
    background-clip: padding-box;
    background-color: #E95858;
    border: 1px solid transparent;
    border-radius: .5rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-size: 18px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    /* padding: calc(.875rem - 1px) calc(1.5rem - 1px); */
    padding: 1.5em 0;
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: 100%;
}

.book-form_submit:hover,
.book-form_submit:focus {
    background-color: #d44545;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.book-form_submit:hover {
    transform: translateY(-1px);
}

.book-form_submit:active {
    background-color: #c23b3b;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
}

li {
    text-align: start;
    line-height: 170%;
    font-size: 20px;
}

#bookListOutput {
    width: 35%;
}

#booklistUnList {
    margin: 0;
}

.contentAdded {
    min-width: 35%
}

.blinkingAnimation {
    animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

@media only screen and (max-width: 1250px) {
    .book-finder_container {
        flex-direction: column;
    }

    #bookListOutput {
        width: 45%;
        margin-bottom: 5em;
    }

    .site-footer {
        width: 100%;
        background: #1b1b1b;
        justify-content: flex-end;
        left: 0;
    }
}

@media only screen and (max-width: 880px) {
    .book-finder_container {
        flex-direction: column;
    }

    .book-finder_container {
        width: 100%;
    }

    .book-form {
        max-width: 80%;
    }

    #bookListOutput {
        width: 80%;
    }

    .book-finder_hero {
        opacity: 0;
    }

    .site-footer {
        width: 100%;
        background: #1b1b1b;
        justify-content: flex-end;
        z-index: 0;
        left: 0;
    }


}